/* You can add global styles to this file, and also import other style files */
.bd-navbar {
    background-color: #563d7c;
}
.ng-invalid:not(form) {
    border-left: 1px solid #ced4da;
}
.ng-invalid:not(form) {
    border-left: solid 2px red;
}